.main-groups {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0 auto;
}

.main-groups__group {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-groups-group-list {
    gap: 92px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-groups-group__header {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin: 0 0 20px 0;
}

.main-groups-group-list__header {
    font-size: 28px;
    line-height: 36px;
}

.main-groups-group-list__item {
    font-size: 32px;
    line-height: 40px;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
}

.main-groups-group-list__item img {
    width: 204px;
    height: 204px;
}

@media screen and (max-width: 1280px){
    .main-groups-group-list {
        gap: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}